:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    margin: -10px;
}

header img {
    height: 100px;
    width: 100px;
}
