:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    margin: -10px;
    font-size: 1rem;
}

header img {
    height: 100px;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}

/* HOME PAGE */

#player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px 20px;
}

.player-card {
    background: #0a162a0f;
    margin: 20px;
    padding: 4px;
}

.player-card p {
    margin: 4px;
    text-transform: capitalize;
    font-size: 1rem;
}

.player-name {
    font-weight: bold;
}

/* DETAIL PAGE */

.player-details {
    margin: 40px auto;
    max-width: 500px;
    background: #0a162a0f;
    padding: 40px;
}


.player-detail-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 20px 0;
}

.column-container {
    display: flex;
    justify-content: space-between;
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: right;
}

.left-column p:nth-child(1),
.right-column p:nth-child(1)
{
    font-weight: bold;
}

.bio {
    margin-top: 40px;
    font-size: .9rem;
    text-align: justify;
}